@model MemoryCacheSettings

<div style="text-align:center">
    <br />

    <h3 style="margin: 0px;">Setting Of Memory Cache</h3>
    </br>
</div>

<table class="table table-striped" style="margin-left: 353px; margin-top: 28px; width: 50%; ">
    <thead>
        <tr>
            <th scope="col">Proprity</th>
            <th scope="col">Value</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Capacity</td>
            <td>@Model.Capacity</td>
        </tr>
        <tr>
            <td>Hit</td>
            <td>@Model.Hit</td>
        </tr>
        <tr>
            <td>Miss</td>
            <td>@Model.Miss</td>
        </tr>
        <tr>
            <td>Total Items</td>
            <td>@Model.TotalItemsNum</td>
        </tr>
        <tr>
            <td>Total Size Of Items</td>
            <td>@Model.TotalSizeOfItems</td>
        </tr>

    </tbody>
</table>